// Color Variables
$primary-color: #003974;
$secondary-color: #003974;
$socials-color: white;
$text-color: #5c5c77;
$accent-color: #EC008C;
$text-color-light: #8585a4;
$text-color-dark: #003974;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';